*{
    margin: 0;
    padding: 0;
}

.smile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: yellow;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
}

.eye1{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
}





